*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

#root{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b0c4de;
}

#to-do-wrapper{
    width: 50%;
    font-size: 18px;
}
div.image{
    width: 100%;
    text-align: center;
}
#logo{
    width: 40%;
}

.aggingi-task{
    margin: 14px 0;
    display: flex;
    justify-content: space-between;
}
.aggingi-task > * {
    height: 30px;
    border-radius: 10px;
}
.aggingi-task > input{
    width: 75%;
    font-size: 18px;
}
.aggingi-task > input:focus{
    border-radius: 10px;
    color: white;
    background-color: #557bb2;
}
.aggingi-task > button{
    width: 23%;
    font-size: 18px;
}
/* Liste di task */
#liste-task{
    display: flex;
    justify-content: space-between;
}

#liste-task > div > ul{
    margin: 14px 0;
    padding: 20px 14px;
    border-radius: 10px;
    list-style: none;
    background-color: #d3d3d3;
}
#liste-task > div > ul > li{
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
}

#liste-task > div{
    width: calc(100% / 3 - 20px);
}
#liste-task > div span{
    display: block;
    width: calc(100% - 64px);
    word-wrap: break-word;
}

.icons-container{
    margin-left: 10px;
    width: 58px;
}
.icons-container > i{
    cursor: pointer;
}
.icons-container > i.fa-times-circle:hover{
    color: red;
}
.icons-container > i.fa-check-circle:hover, i.fa-trash-restore:hover{
    color: green;
}

#to-do-list > ul > li > span{
    cursor: pointer;
}

#to-do-list > ul > li > span:hover{
    color: blue;
}
#to-do-list > p{
    padding: 10px 0;
    margin: 14px 0;
    border-radius: 10px;
    text-align: center;
    background-color: #d3d3d3;
}

#recycle-bin > h2 > i{
    cursor: pointer;
    margin-left: 100px;
}
#recycle-bin > h2 > i:hover{
    color: red;
}